<nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">WebSiteName</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/scrape" id="scrape">Scrape Articles</a></li>
                    <li><a href="/savedArticles">Saved Articles</a></li>
                </ul>
            </div>
        </nav>
<div><p>Scrape data to return info</p></div>
